<!-- 8 4
     4 4 4
     4 8
     8 4
     4 4 4
     4 8
-->

<!-- 0 6 7 13 -->

<!-- *ngIf= "(i%6 == 0 || ((i-1)%6 == 0) && i != 1 )" -->
<!-- NavBar -->

<nav class="navbar navbar-expand-md navbar-dark ">
  <a class="navbar-brand" href="#">CNN - News</a>
</nav>


<!-- News -->
<div class="collection">
  <div class="container" *ngIf="response">
    <div class="collection__title">
      <p class="lead collection__title--text">{{response.feed.title}}</p>
    </div>
    <div class="row">
      <div *ngFor="let item of items; let i = index" [ngClass]="(i%6 == 0 || ((i-1)%6 == 0) && i != 1 )? 'col-md-8': 'col-md-4' ">
          <!--Remove This Comment If You need to make the div link to the Report  -->
          <div class="report" [ngStyle]="{'background': 'url(' + item.enclosure.link + ') no-repeat center','height': '310px' ,'background-size': 'cover'}">
              <div class="info">

                <p #myText class="more"><a [attr.href]="item.link" target="_blanck">{{item.title}}</a></p>
                <span *ngIf="item.pubDate">{{item.pubDate | date:'dd/MM/yyyy'}}</span>
                <span *ngIf="item.pubDate === null">-------------</span>
              </div>
          </div>
      </div>
      
    </div>
    
    <div class="collection__button-wrapper">
        <button type="button" class="btn btn-more" (click)="ShowMore()">View More!</button>
    </div>
      
  </div>
</div>